doctype html
html
  head
    title= title
  body
    h1 Add Pet

    a(href="/") Return to the homepage

    form(action="/update-cobj" method="POST")

      div
        label(for="name") Name
        input(type="text" name="name" required)

      div
        label(for="type") Type
        input(type="text" name="type" required)

      div
        label(for="age") Age
        input(type="number" name="age" required)

      button(type="submit") Submit